<h1>newww file</h1>
<% if @std.errors.any?%>
  <h1>The following errors preventted the actions</h1>
  <ul>
    <% @std.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @std do |f|%>
    <p>
      <%= f.label :name%> <br>
      <%= f.text_field :name%>
    </p>

    <p>
      <%= f.label :description%> <br>
      <%= f.text_area :description%>
    </p>

    <p>
       <%= f.submit :submit%>
    </p>
<% end %>

<%= link_to "back to employees listing", students_path%> 